@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  body {
    @apply bg-white dark:bg-neutral-900 text-neutral-900 dark:text-white;
    color-scheme: light dark;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* NProgress Customization */
#nprogress .bar {
  background: #006A40 !important;
  height: 3px !important;
}

#nprogress .peg {
  box-shadow: 0 0 10px #006A40, 0 0 5px #006A40 !important;
}
